<a href="https://colab.research.google.com/github/Caritosv/Cuaderno-tarea/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

Data Science Tools and Ecosystem

Some of the popular languages that Data Scientists use are:

1.   Python
2.   R
3.   SQL
4.   Java
5.   Scala

**Objectives:**

*   Libraries used by data scientists
*   Popular Languages that data scientists
*   Data Science Tools
*   examples of evaluating arithmetic expressions in Python

Some of the commonly used libraries used by Data Scientists include:

1.   Pandas
2.   Numpy
3.   Seaborn
4.   Matplotlib

| Data Science Tools |
|--------------------|
| MySQL              |
| Jupyter Notebook   |
| MongoDB            |

# Below are a few examples of evaluating arithmetic expressions in Python

his a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author
Carolina Silva